body {
  overflow-x: hidden;
}

.App {
  height: inherit;
  width: inherit;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
}

h2 {
  font-family: LemonBold;
  text-transform: uppercase;
}

p,
h3 {
  font-family: Lemon;
}

.select {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1.5rem;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  border: 2px solid #fff;
  box-shadow: none;
  background: #faf015;
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: #000;
  cursor: pointer;
  font-size: 1em;
  font-family: Lemon;
}
select::-ms-expand {
  display: none;
}
.selector {
  position: relative;
  display: flex;
  width: 15em;
  height: 2em;
  line-height: 1.7;
  background: #faf015;
  overflow: hidden;
  border-radius: 0.25em;
}
.selector::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  border: 2px solid #fff;
  background: #000;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.selector:hover::after {
  color: #faf015;
}

.slider {
  position: relative;
  padding-bottom: 8rem;
}

.stripe {
  position: absolute;
  width: 100%;
  height: 300px;
  background: #faf015;
  top: 15%;
}

h1 {
  font-family: Watchmen;
  color: #faf015;
  margin: 3rem auto 1rem;
  letter-spacing: 0.05rem;
  font-size: 3.6rem;
}

h2 {
  text-align: center;
}

@media (min-width: 320px) and (max-width: 480px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.3rem;
  }
}

@font-face {
  font-family: "Watchmen";
  src: local("Watchmen"),
    url(./fonts/Watchmen/--wATCHMEn--.ttf) format("truetype");
}

@font-face {
  font-family: "Lemon";
  src: local("Lemon"),
    url(./fonts/Lemon/LemonMilkRegular-X3XE2.otf) format("opentype");
}

@font-face {
  font-family: "LemonBold";
  src: local("LemonBold"),
    url(./fonts/Lemon/LemonMilkBold-gx2B3.otf) format("opentype");
}
