html {
  background: #000;
  color: #fff;
  overflow: hidden;
}

.slides {
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 34%;
  height: 400px;
  width: 100%;
  background: yellow;

  perspective: 800px;
  transform-style: preserve-3d;
}

.slides,
.slide {
  grid-area: 1 / -1;
}

.slide {
  display: grid;
  align-content: center;
  width: 300px;
  height: 340px;
  outline: 1px solid green;
  background-size: cover;
  background-position: center center;

  transform: translateX(calc(100% * var(--offset)))
    rotateY(calc(-25deg * var(--dir)));

  transition: transform 0.5s ease-in-out;
}

.slideContent {
  transform: translateZ(3rem);
  opacity: 0;
  transition: opacity 0.3s linear;
}

.slide[data-active] {
  outline-color: red;
  transform: rotateX(calc(var(--x) * 45deg));
}

.slide[data-active] > .slideContent {
  opacity: 1;
}

/* .slides h1,
p {
  margin: 0;
}

.slides {
  display: grid;
  > .slide {
    grid-area: 1 / -1;
  }

  > button {
    appearance: none;
    background: transparent;
    border: none;
    color: white;
    position: absolute;
    font-size: 5rem;
    width: 5rem;
    height: 5rem;
    top: 30%;
    transition: opacity 0.3s;
    opacity: 0.7;
    z-index: 5;

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: none;
    }

    &:first-child {
      left: -50%;
    }
    &:last-child {
      right: -50%;
    }
  }
}
 */
