html {
  background: #000;
  color: #fff;
  overflow-x: hidden;
}

.slides {
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 480px;
  width: 100%;

  perspective: 800px;
}

.slides,
.slide {
  grid-area: 1 / -1;
}

.slide {
  display: grid;
  align-content: center;
  width: 300px;
  height: 450px;
  background-size: cover;
  background-position: center center;

  transform: translateX(calc(100% * var(--offset)))
    rotateY(calc(25deg * var(--dir)));

  transition: transform 0.5s ease-in-out;
}

.slideContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 300px;
  background-repeat: no-repeat;
  transition: transform 0.5s ease-in-out;
  opacity: 0.7;
  /* transform: translateZ(3rem); */
  opacity: 0;
  transition: opacity 0.3s linear;
}

.slides > button {
  appearance: none;
  background: transparent;
  border: none;
  color: #0648a9;
  position: absolute;
  font-size: 10rem;
  width: 5rem;
  height: 5rem;
  top: 25%;
  transition: opacity 0.3s;
  opacity: 0.7;
  z-index: 5;
}

.slides > button:hover {
  opacity: 1;
}

.slides > button:focus {
  outline: none;
}

.slides > button:first-child {
  right: 36%;
  text-shadow: -7px 0 0 #da5047;
}

.slides > button:last-child {
  left: 36%;
  text-shadow: 7px 0 0 #da5047;
}

.slide[data-active] {
  transform: rotateX(calc(var(--x) * 45deg));
}

.slide[data-active] > .slideContent {
  opacity: 1;
}

@media (min-width: 320px) and (max-width: 480px) {
  .slides > button:last-child {
    left: 0%;
  }

  .slides > button:first-child {
    right: 0%;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .slides > button:last-child {
    left: 18%;
  }

  .slides > button:first-child {
    right: 18%;
  }
}
